# Python
__pycache__/
*.pyc
*.pyo
*.pyd

#VEs
venv/
.env/
/yolo-env

# Training Output
Implementation project/src/CNN/runs/
Implementation project/src/CNN/**/*.pt
Implementation project/src/CNN/**/*.onnx

# Datasets
Implementation project/src/CNN/datasets/

# Logs
*.log

#OS
.DS_Store
Thumbs.db

#VS Code
.vscode/

# Dataset (re-downloadable from Roboflow)
CS440-Drone-CNN-model-1/
